/*
hotel
************
*******************************************************************/
.view-map{
  float: left;
  margin-top: 16px;
  font-size: 1.3rem;
}
hotel-item .hotel-ctn .hotel-description .hotel-name,
.view-map .link {
  color: #157ab1;
  text-decoration: none;
  cursor: pointer;
}

hotel-item .hotel-ctn .hotel-description .hotel-name:active,
.view-map .link:active {
  color: #10567b;
  text-decoration: underline;
}

hotel-item .hotel-ctn .hotel-description .hotel-name:hover,
.view-map .link:hover {
  color: #1a99df;
  text-decoration: underline;
}

hotel-item .hotel-ctn .hotel-description [class*="icon-"].hotel-name:hover,
.view-map [class*="icon-"].link:hover {
  text-decoration: none;
}

hotel-item .hotel-ctn {
  background-color: #fff;
  padding: 8px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(119, 119, 119, 0.3);
  margin-bottom: 16px;
  height: 208px;
  @media only screen and (min-width: 768px) and (max-width: 1151px) {
    height: 530px;
  }
  @media only screen and (max-width: 767px){
    height: 530px;
  }
}

hotel-item .hotel-ctn.chain-disney {
  border: none;
}

hotel-item .hotel-ctn.chain-disney .price-box-ctn .price-box {
  padding-top: 40px;
}

hotel-item .hotel-ctn.chain-disney .price-box-ctn .price-box .seal-disney {
  display: block;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn.chain-disney .price-box-ctn .price-box {
    padding-top: 48px;
  }

  hotel-item .hotel-ctn.chain-disney .gallery-ctn {
    margin-top: 16px;
  }
}

hotel-item .hotel-ctn .placeholder-loader .header {
  height: 192px;
}

hotel-item .hotel-ctn .placeholder-loader .content-loader {
  box-sizing: border-box;
  padding: 16px;
}

hotel-item .hotel-ctn .header-hotel {
  position: relative;
}

hotel-item .hotel-ctn .header-hotel .disney,
hotel-item .hotel-ctn .header-hotel .offer {
  position: absolute;
  z-index: 1;
  width: 91%;
}

hotel-item .hotel-ctn .header-hotel .disney .disney-text,
hotel-item .hotel-ctn .header-hotel .disney .offer-text,
hotel-item .hotel-ctn .header-hotel .offer .disney-text,
hotel-item .hotel-ctn .header-hotel .offer .offer-text {
  color: #fff;
  padding: 8px;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.4rem;
  font-weight: bold;
}

hotel-item .hotel-ctn .header-hotel .offer .offer-text {
  background: #2671DD;
}
@media only screen and (min-width: 768px) and (max-width: 1151px) {
  hotel-item .hotel-ctn .header-hotel .offer .offer-text {
    padding-left: 32px;
  }
}

hotel-item .hotel-ctn .header-hotel .disney {
  background-image: url("../images/stars.png");
  height: 32px;
}

hotel-item .hotel-ctn .header-hotel .disney .disney-text {
  padding-left: 40px;
}

hotel-item .hotel-ctn .header-hotel .disney-icon {
  background-image: url("../images/mickey.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 72px;
  margin-top: -4px;
  transform: rotate(-25deg);
}
@media only screen and (min-width: 768px) and (max-width: 1151px) {
  hotel-item .hotel-ctn .header-hotel .disney .disney-text {
    padding-left: 72px;
  }
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .header-hotel .disney .disney-text {
    padding-left: 32px;
  }
}

hotel-item .hotel-ctn .header-hotel .agreggate {
  position: relative;
}

hotel-item .hotel-ctn .header-hotel .agreggate .gift {
  box-sizing: border-box;
  padding-top: 4px;
  width: 40px;
  height: 48px;
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
  top: -8px;
  left: 16px;
  background-color: #509E3C;
  border-radius: 2px 0 2px 2px;
  font-weight: bold;
}

hotel-item .hotel-ctn .header-hotel .agreggate .gift:after {
  content: "";
  position: absolute;
  border-width: 4px;
  border-color: transparent transparent #2D5C23 #2D5C23;
  border-style: solid;
  top: 0;
  right: -8px;
}
@media only screen and (min-width: 768px) and (max-width: 1151px) {
  hotel-item .hotel-ctn .header-hotel .agreggate .gift {
    left: 16px;
  }
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .header-hotel .agreggate .gift {
    left: 16px;
  }
}

hotel-item .hotel-ctn .header-hotel .agreggate .gift p {
  position: relative;
  left: 23px;
  top: 9px;
}

hotel-item .hotel-ctn .header-hotel .hotel-image {
  background-size: cover;
  background-position: 50%;
  height: 192px;
}

hotel-item .hotel-ctn .hotel-description {
  padding: 0 16px;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .hotel-description {
    padding: 0;
  }
}

hotel-item .hotel-ctn .hotel-description .hotel-link {
  display: block;
}

hotel-item .hotel-ctn .hotel-description .hotel-name {
  line-height: 2.1rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

hotel-item .hotel-ctn .hotel-description .star-ctn {
  line-height: 24px;
  line-height: 2.1rem;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
}

hotel-item .hotel-ctn .hotel-description .not-meal-plan {
  padding-bottom: 32px;
}

hotel-item .hotel-ctn .hotel-description .meal-ctn {
  line-height: 16px;
  line-height: 1.7rem;
  font-size: 14px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #DF6800;
  margin-bottom: 16px;
}

hotel-item .hotel-ctn .hotel-description .meal-ctn .meal-description {
  margin-left: 4px;
  display: inline-block;
}

hotel-item .hotel-ctn .hotel-description .meal-ctn .meal-description:first-letter {
  text-transform: uppercase;
}

hotel-item .hotel-ctn .hotel-description .meal-ctn [class*="icon-"] {
  vertical-align: middle;
}

hotel-item .hotel-ctn .hotel-description .not-amenities {
  padding-top: 16px;
  padding-bottom: 32px;
}

hotel-item .hotel-ctn .hotel-description .amenities-ctn {
  padding-bottom: 8px;
}

hotel-item .hotel-ctn .hotel-description .amenities-ctn .list {
  margin-bottom: 8px;
  list-style: none;
  padding-left: 5px;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .hotel-description .amenities-ctn .list {
    margin-bottom: 0;
  }
}

hotel-item .hotel-ctn .hotel-description .amenities-ctn .list li {
  margin-left: 0;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 4px;
  color: #444;
}

hotel-item .hotel-ctn .hotel-description .amenities-ctn .list .amenity--lg {
  vertical-align: top;
}

hotel-item .hotel-ctn .hotel-description .rating-summary-ctn {
  margin-bottom: 16px;
}

hotel-item .hotel-ctn .hotel-description .rating-summary-ctn .rating-summary {
  color: #678D44;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

hotel-item .hotel-ctn .hotel-description .rating-summary-ctn img {
  margin-right: 4px;
}

hotel-item .hotel-ctn .hotel-description .rating-summary-ctn .quantity {
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
}

hotel-item .hotel-ctn .hotel-description .disney-info .link {
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  color: #157ab1;
  text-decoration: none;
  cursor: pointer;
}

hotel-item .hotel-ctn .hotel-description .disney-info .link:active {
  color: #10567b;
  text-decoration: underline;
}

hotel-item .hotel-ctn .hotel-description .disney-info .link:hover {
  color: #1a99df;
  text-decoration: underline;
}

hotel-item .hotel-ctn .hotel-description .disney-info .link[class*="icon-"]:hover {
  text-decoration: none;
}

hotel-item .hotel-ctn .hotel-description .disney-info [class*="icon-"] {
  vertical-align: middle;
}

hotel-item .hotel-ctn .hotel-description .disney-info .info-description {
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 16px;
  color: #DF6800;
}

hotel-item .hotel-ctn .hotel-description .disney-info .info-description .meal-description {
  display: inline-block;
}

hotel-item .hotel-ctn .hotel-description .disney-info .info-description .meal-description:first-letter {
  text-transform: uppercase;
}

hotel-item .hotel-ctn .hotel-description .trip-point {
  display: inline-block;
}

hotel-item .hotel-ctn .hotel-description .hotel-location > li {
  border-right: 1px solid #CCC;
  padding-right: 8px;
  margin-right: 8px;
}

hotel-item .hotel-ctn .hotel-description .hotel-location > li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

hotel-item .hotel-ctn .hotel-description span.amenity--lg {
  margin: 0 4px;
}

hotel-item .hotel-ctn .price-box-ctn {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  //padding: 24px 24px 0 32px;
  border-left: 1px dashed #CCC;
  min-height: 192px;
  color: #444;
}
@media only screen and (min-width: 768px) and (max-width: 1151px) {
  hotel-item .hotel-ctn .price-box-ctn {
    padding: 24px 0 0 8px;
  }
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .price-box-ctn {
    padding: 16px 0 8px;
    border-left: none;
  }
}

hotel-item .hotel-ctn .price-box-ctn .price-box .legal-taxes {
  font-size: 1.2rem;
  line-height: 2rem;
}

hotel-item .hotel-ctn .price-box-ctn .price-box .seal-disney {
  position: absolute;
  display: none;
  top: -8px;
  left: calc(50% - 36px);
}

hotel-item .hotel-ctn .price-box-ctn .price-box .seal-disney img {
  height: 48px;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .price-box-ctn .price-box .seal-disney {
    top: 16px;
  }
}

hotel-item .hotel-ctn .price-box-ctn .price-box .provider {
  margin-bottom: 8px;
}

hotel-item .hotel-ctn .price-box-ctn .price-box .price-description {
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 8px;
}

hotel-item .hotel-ctn .price-box-ctn .price-box .price--lg {
  margin-bottom: 8px;
}

hotel-item .hotel-ctn .price-box-ctn .price-box .price-discount {
  margin-bottom: 0;
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
}

hotel-item .hotel-ctn .price-box-ctn .price-box .payment-methods {
  line-height: 10px;
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .price-box-ctn .price-box {
    padding-top: 16px;
    border-top: 1px dashed #777;
  }
}

hotel-item .hotel-ctn .price-box-ctn .price-box .button-detail {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  hotel-item .hotel-ctn .price-box-ctn .price-box .button-detail {
    width: 100%;
  }
}

hotel-item am-trips-favorite {
  position: absolute;
  top: -8px;
  right: 16px;
}

hotel-item am-trips-favorite .trip-favorite-ctn {
  z-index: 2;
}

.price--lg {
  color: #DF6800;
}

.price--lg .price__currency {
  line-height: 40px;
  line-height: 4rem;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}

.price--lg .price__amount {
  line-height: 40px;
  line-height: 4rem;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: bold;
  display: inline-block;
}
