$footer-bg: #002c77;
$footer-font: 'Roboto,sans-serif';
$header-bg: #003077;
$menu-bg: #194582;
$main-bg: #F4F4F4;
$navbar-item-active-bg:rgba(223, 104, 0, 0.9);
$text-title-filters:#157ab1;
$text-title-filters-hover:#1a99df;
$slider-rz-bar: #ccc;
$slider-rz-selection: #777;
$star-filter-color : #FDBA12;
$border-color: #ccc;
